---
language: python
python: 2.7
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
# addons:
#   sauce_connect:
#   - username: $SAUCE_USERNAME
#   - access_key: $SAUCE_ACCESS_KEY
install:
- virtualenv buildout --no-setuptools
- source buildout/bin/activate
- mkdir -p buildout-cache/downloads
- python bootstrap.py -c travis.cfg
- bin/buildout -c travis.cfg -N -q -t 3
script: bin/test
# env:
#   global:
#   - secure: |-
#       nbE10eZFSlLrJuBtWG5oAgwHCuS7QsY+/EMkpLbka0aPNibFH0QyVYperV7a
#       0UmBCp8ZD6eW5V0kwlnTDDqLSgzll3f7fAyQUzHODgu7pAuZm2Fo+udhGBEz
#       39sfSRB98ukGJkBvzfMOIf4d3/PqHYuzqSSlSudniT9xA3mHVlk=
#   - SAUCE_USERNAME=cpfgdexterity
#   - ROBOT_BUILD_NUMBER=travis-$TRAVIS_BUILD_NUMBER
#   - ROBOT_REMOTE_URL=http://$SAUCE_USERNAME:$SAUCE_ACCESS_KEY@ondemand.saucelabs.com:80 /wd/hub
#   - ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
#  matrix:
#  - ROBOT_BROWSER=firefox ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
#  - ROBOT_BROWSER=chrome ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
#  - ROBOT_BROWSER=internetexplorer ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
