---
language: python
python: '2.7'
install:
- mkdir -p buildout-cache/eggs
- mkdir -p buildout-cache/downloads
- python bootstrap.py -c travis.cfg
- bin/buildout -N -t 3 -c travis.cfg
- curl -O http://saucelabs.com/downloads/Sauce-Connect-latest.zip
- unzip Sauce-Connect-latest.zip
- java -jar Sauce-Connect.jar $SAUCE_USERNAME $SAUCE_ACCESS_KEY -i $TRAVIS_JOB_ID
  -f CONNECTED &
- JAVA_PID=$!
before_script:
- bash -c "while [ ! -f CONNECTED ]; do sleep 2; done"
- export ROBOT_BUILD_NUMBER=travis-$TRAVIS_BUILD_NUMBER
- export ROBOT_REMOTE_URL=http://$SAUCE_USERNAME:$SAUCE_ACCESS_KEY@ondemand.saucelabs.com:80/wd/hub
script: bin/test
after_script:
- kill $JAVA_PID
env:
  global:
  - secure: ! 'KbsLZUkc4lQVyquo1lsn9Na0r9RpJKYRaib8yO8KU0nGpUSbVO9LBDEaXNv8
      9+KF4WS3xz8ji1i03VfcFZhhvRdI9JyyjdCY3HrsImzATcx06D9AmKO3vUn2
      MiSwFrfgN7sHcF4kt5QedF82NAvVJJL0d1DddtxA2ujJL07rgO8='
  - secure: ! 'TWqg1Fcy1aLpFmQv2mzYEUSW6JiM0mkGOIoqkf/BjhMJEd7Nx20iIfAGGBRl
      nc7gEWlUYS943UbExJXtCAYcaGtKP4usYHVRtUelZ7qaRyZyme1tAZ+2uq75
      NSM8mHX27l9bMq5FzT4OC+zCDqmIe0RYce4IcWrweCK79YvpZHM='
  matrix:
  - ROBOT_BROWSER=firefox ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_ID
  - ROBOT_BROWSER=chrome ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_ID
  - ROBOT_BROWSER=internetexplorer ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_ID
