[buildout]
extends = http://dist.plone.org/release/4.2.1/versions.cfg
parts = test
develop = .
versions = versions

[versions]
zc.buildout = 1.6.3

[test]
recipe = corejet.recipe.testrunner
eggs = collective.pfg.dexterity [test]
defaults = ['--auto-color', '--auto-progress']
